@{
    ViewBag.Title = "Forgot Password Confirmation";
}
<style>
    .header0 {
        margin-top: 5%;
    }

        .header0 h1 {
            margin-bottom: 5%;
            font-weight: 900;
            border-bottom: 2px solid #000000;
            padding-bottom: 5px;
        }

        .header0 p {
            margin-bottom: 5%;
            padding-bottom: 5px;
            font-size: 1.2vw;
        }
</style>

<div class="row nomargin header0">
    <div class="col-md-1 col-lg-1"></div>
    <div class="form-horizontal col-md-7 col-lg-7 col-sm-12 col-xs-12 control-label1">
        <hgroup class="title">
            <h1>@ViewBag.Title.</h1>
        </hgroup>
        <div>
            <p>
                Please check your email to reset your password.
            </p>
        </div>
    </div>
</div>

